/*Universal selecctor*/
	*{
		margin:0;
		padding:0;
	}
	/*Type selector*/
	body{
		background-color: #9fa73d;
	}
	/*class Selector selector*/
	.greenbg{
		background-color: #15816a;border-bottom:10px solid #0000ff;
		
	}
	.redbg{
		background-color: #0bcc3b; border:1px solid #ffffff;
		border-radius: 20px 20px 20px 20px;
	}
	/*ID selector*/
	#myheading{
		font-variant: small-caps;
	}



